main section#chat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);
  padding: 5px;
  min-width: 700px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main section#chat #chat-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main section#chat #chat-header strong {
  color: #666;
  font-size: 14px;
}

main section#chat ul {
  list-style: none;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  box-shadow: 1px 1px 10px 20px #f7f7f7 inset;
}

main section#chat ul li {
  max-width: 55%;
  z-index: -1;
}

main section#chat ul li div strong {
  color: #333;
  font-size: 12px;
  text-align: right;
}

main section#chat ul li div {
  padding: 3px 10px;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin: 5px 0;
  color: #444;
}


main section#chat ul li div p {
  text-align: left;
  margin-top: 5px;
}

main section#chat ul li small {
  color: #999;
}

main section#chat ul li.right {
  align-self: flex-end;
  text-align: right;
}

main section#chat ul li.right div {
  background-color: white;
}


main section#chat ul li.left div {
  background-color: #efefef;
}

main section#chat img#send {
  height: 24px;
  width: 24px;
  object-fit: contain;
}
